.amazon-widget{
    width: auto;
    position: relative;
    margin: 0;
    padding: 0;
    .amazon-img{
        border: 1px solid #E1E8ED;
        border-radius: 15px 0;
        text-align: center;
        a {
            top:0;
            left:0;
        }
        img {
            max-height: 200px;
            max-width: 200px;
        }
    }
    .amazon-info {
        border-right: 1px solid #E1E8ED;
        border-bottom: 1px solid #E1E8ED;
        border-left: 1px solid #E1E8ED;
        padding:5px 10px 10px 10px;
        border-radius:0 0 15px 15px;
    }
    :hover .amazon-info {
        background-color: #E1E8ED;
    }
    .amazon-title {
        font-weight: bold;
        display:block;
    }
    .amazon-via {
        color: #aaa;
        .amazon-info-via-img {
            border: none;
            width: 1em;
            height: 1em;
            margin: 0;
            padding: 0;
            display: inline;
            vertical-align: text-bottom;
            text-align: left;
        }
    }
}
